/* Smooth Scrolling */
/* Enabling smooth scrolling for a better user experience */
html {
    scroll-behavior: smooth;
  }

/* Body Styling */
/* Resetting default margin and setting up the main background image */
  body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background: url('../Images/Oslomet-Pilestredet-Dronebilde.jpg') no-repeat center center fixed;
    background-size: cover;
  }

/* Grid Layout */
  #grid-container {
    display: grid;
    grid-template-areas: 
      "header"
      "main"
      "footer";
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 100%;
  }

/* Universal Box Sizing */
  *, *:before, *:after {
    box-sizing: border-box;
  }

/* Header Styling */
  header{
    display: flex;
    flex-direction: column;
    grid-area: header;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }

/* Header Image Styling */
  header img {
    width: 100%;
    height: auto;
    max-height: 70vh;
  }
  

/* Navigation Bar Styling */
  nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 10;
  }
  
/* Navigation List Styling */
  nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
  
 /* Navigation List Item Styling */
  nav ul li{
    list-style: none;
    display: inline-block;
  }
  
/* Navigation Links Styling */
  nav ul li a{
    text-decoration: none;
    color: black;
    padding: 20px;
  }
  
/* Navigation Links Hover Effect */
  nav ul li a:hover{
    color: blue;
  }
  
/* Navigation Logo Styling */
/* Styling the logo within the navigation bar */
  nav figure{
    margin: 10px;
  }
  
/* Logo Image Styling */
/* Adjusting the size and fit of the logo image */
  #logo{
    width: 150px;
    height: 100%;
    border: black;
    object-fit: cover;
  }
  
/* Screen Reader-Only Class */
/* Hiding elements from view but making them accessible to screen readers */
.sr-only-menu {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* ////////////////////////////////////////////// */  
/* Mobile Menu */
/* Hiding the standard checkbox, maintaining functionality for mobile menu */
  .menu-toggle {
    display: none;
  }
  
/* Displaying the Mobile Menu When Checkbox is Checked */
/* Styling the mobile menu when activated */
  #menu-toggle:checked + .my-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
/* Hamburger Menu Lines Styling */
/* Designing the lines in the hamburger menu with a transition effect */
  .menu-button .links{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
/* Transforming Hamburger to Cross */
/* Animating the hamburger icon to a cross on activation */
  #menu-toggle:checked ~ .menu-button .links:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  
  #menu-toggle:checked ~ .menu-button .links:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked ~ .menu-button .links:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

/* Displaying Mobile Links When Checkbox is Checked */
/* Revealing the mobile menu upon checking the checkbox */
  #menu-toggle:checked ~ .my-links {
    display: flex;
  }
  
/* Mobile Menu Button Styling */
/* Styling the button used for displaying the mobile menu */
  .menu-button{
    position: absolute;
    top: 2rem;
    right: 0.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 100;
  }
  
/* ///////////////////////////////////////////////////////*/
/* Contact Us Button Styling */
/* Customizing the appearance of the 'contact us' button */
  #contact-us{
    background-color: #312c2c;
    color: rgba(255, 255, 255, 0.986);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }

/* 'Move Page Up' Button Styling */
/* Styling for a button to quickly scroll to the top of the page */
  .move-page-up {
    position: fixed;
    width: 50px;
    height: 50px;
    background: black;
    bottom: 20px;
    right: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
  }

/* Main Content Styling */
/* Setting up the main content area with padding and margin */
  main {
    grid-area: main;
    padding: 20px;
    margin: 0; 
  }

/* Title and Labels Styling */
/* Designing the title and labels with background color and alignment */
  .title-and-labels {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
  }

/* Labels Container Styling */
/* Setting up the container for labels with flexible layout and spacing */
  .labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
  }

/* Navigation Button Styling */
/* Styling for navigation buttons with hover effects and transitions */
  .labels .nav-btn {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 15px;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav-btn {
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 0.9em;
    cursor: pointer;
    margin: 5px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }

/* Hover Effect for Navigation Buttons */
  .nav-btn:hover {
    background-color: #ddd;
    transform: scale(1.1);
  }

/* Main Title Styling */
/* Styling the main title with font size, weight, and shadow for emphasis */
  .main-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  }

/* Image Gallery Styling */
/* Setting up the layout and styling for the image gallery */
  .image-gallery {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

/* Image Gallery Slides Styling */
/* Designing the slide container within the image gallery */
  .image-gallery input[type="radio"] {
    display: none;
  }

/* Image Gallery Slide Styling */
/* Customizing the appearance of individual slides */
  .image-gallery .slides {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  input[type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  .image-gallery .slide {
    display: none;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }
  
  .image-gallery .slide .text-content {
    flex: 1;
    padding-right: 20px;
    order: 1;
  }
  
  .image-gallery .slide img {
    flex-basis: 50%;
    order: 2;
    max-width: 600px;
  }
  
  .image-gallery .slide figure {
    flex-basis: 50%;
    order: 2;
    text-align: center;
  }
  
  #slide1:checked ~ .slides .s1,
  #slide2:checked ~ .slides .s2,
  #slide3:checked ~ .slides .s3,
  #slide4:checked ~ .slides .s4,
  #slide5:checked ~ .slides .s5 {
      display: block;
  }
  
  .map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  iframe.map-container {
    height: 400px;
    width: 100%;
  }
  
  .text-content {
    flex: 1;
    padding: 20px;
    margin: 0 10px 0 0;
    order: 1;
  }
  
  .text-content h2 {
    font-size: 24px;
  }
  
  .text-content p {
    line-height: 1.6;
  }
  
  img, iframe {
    max-width: 100%;
  }

/* Footer Styling */
/* Designing the footer with padding and background color */
  footer {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
  }

/* Footer Toggle Styling */
/* Setting up the toggle functionality for the footer */
  .footer-toggle {
    display: none;
  }

/* Footer Toggle Label Styling */
/* Styling the label for the footer toggle */
  .footer-toggle-label {
    display: block;
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 1000;
    cursor: pointer;
  }

/* Footer Toggle Icon Styling */
/* Styling the icon for the footer toggle, with a transition effect for color change */
  .footer-toggle-label i {
    font-size: 30px;
    color: #ff9100ee;
    transition: color 0.3s ease;
  }

/* Footer Content Display */
/* Showing the footer content when the toggle is checked */
  .footer-toggle:checked ~ .footer-content {
    display: block;
    transform: translateY(0);
  }

/* Footer Content Styling */
/* Initially hiding the footer content, with a transition for the transform property */
  .footer-content {
    display: none;
    position: fixed;
    left: 0;
    transition: transform 0.3s ease;
    transform: translateY(100%);
  }
  
/* ////////////////////////////////////////// */
/* LINK SIDEBAR CSS */
/* Styling for the link sidebar inspired by a design on CodePen */
/* Reference: https://codepen.io/ggsingla/pen/MWOzxbq */
  .link-list {
      position: fixed;
      left: 5em;
      bottom: 1em;
      transform: translatey(-50%);
      padding: 1em 0.5em 1em 1em;
      background: #fafafa;
      border-radius: 0.5em 0 0 0.5em;
      box-shadow: -4px 0px 0px orange;
      transition: all 300ms ease;
  }

/* Link Sidebar Hover Effect */
/* Enhancing the box shadow and padding on hover */
  .link-list:hover {
    box-shadow: -8px 0px 20px orange;
      padding: 1em;
  }

/* Social Media Links Styling */
/* Styling the social media links in the sidebar */
  .social-media-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0;
    margin: 0;
  }

/* Link Styling */
/* Customizing the appearance of individual links */
  .link a {
    color: #111;
    font-size: 1.5rem;
    transition: all 200ms ease;
  }

/* Visited Link Styling */
/* Ensuring visited links maintain their color */
  .link a:visited {
    color: #111;
  }

/* Link Hover Effect */
/* Enhancing link size and color on hover */
  .link a:hover {
    color: orange;
    font-size: 1.75rem;
  }

/* Footer Link Styling */
/* Styling links in the footer for consistency */  
  footer a {
    color: black;
    text-decoration: none;
  }

/* Footer Link Hover Effect */
/* Adding an underline effect on hover for footer links */
  footer a:hover {
    text-decoration: underline;
  }

/* Screen Reader-Only Class */
/* Styling for elements that are only for screen readers, making them invisible but accessible */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
} 


/* MEDIA QUERIES */
/* This media query targets devices like tablets, adjusting the layout for navigation, menu buttons, and image gallery for a columnar and compact layout. */
@media only screen and (max-width: 768px),
      only screen and (max-width: 600px), 
       only screen and (max-width: 510px), 
       only screen and (max-width: 480px) {
  /* Adjusting navigation bar for column layout */
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Displaying the hamburger menu button */
  .menu-button {
    display: flex;
  }

  /* Adjusting the font size and padding of navigation buttons */
  .nav-btn {
    font-size: 0.8em;
    padding: 3px 7px;
  }

  /* Reducing main title font size */
  .main-title {
    font-size: 2rem;
  }

  /* Adjusting margins for title and labels */
  .title-and-labels {
    margin: 10px;
  }

  /* Adjusting the mobile links layout */
  .my-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #ffffff;
  }

  /* Column layout for the links in mobile menu */
  .my-links ul {
    flex-direction: column;
    width: 100%;
  }

  /* Center aligning the list items in mobile menu */
  .my-links ul li {
    text-align: center;
    padding: 20px;
    margin: 8px;
    background-color: rgb(241, 241, 241);
  }

  /* Adjusting padding for links in mobile menu */
  .my-links ul li a {
    padding: .5rem 1rem;
  }

  /* Reducing text size for better readability */
  .text-content p {
    font-size: smaller;
  }

  /* Adjusting image gallery layout for smaller screens */
  .image-gallery .slide {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Adjusting content, image, and figure layout within the image gallery */
  .image-gallery .slide .text-content,
  .image-gallery .slide img,
  .image-gallery .slide figure {
    order: 0;
    padding-right: 0;
    flex-basis: auto;
    max-width: 100%;
  }

  /* Adjusting margin for images and figures in the image gallery */
  .image-gallery .slide img,
  .image-gallery .slide figure {
    margin-top: 20px;
  }
}